/*
- Use html selector instead of * selector because:
* selector is like: 
  p, a, div, { }
Therefore, it will be more specific than when we want it to inherit from its parent
For instance:
```html 
<div id="test">
  <p>blue <a>red</a></p>
</div>
```
```css
// This won't work. The text won't become 2rem
#test {
  font-size: 2rem;
}

// This won't work either:
div {
  font-size: 2rem;
}

// This will only work for the blue:
p {
  font-size: 2rem;
}
```
*/

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  main {
    margin: 30px 10px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px 20px 20px;
  }
  
  #title {
    margin: 20px 0 5px;
    font-size: 2rem;
    text-align: center;
  }
  
  #sub-title {
    margin: 0 0 30px 0;
    text-align: center;
    color: #595959;
  }
  
  figure {
    margin: 10px 0;
    background-color: white;
    padding: 10px;
    text-align: center;
  }
  
  /* 
    The project requires:
    - #image has max-width: 100%
    - img has display: block
    Therefore, to maintain the style, the figure div { } below is required
  */
  figure div {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
  img {
    display: block
  }
  
  #image {
    /* max-width: 1000px;
    width: 100%; */
    max-width: 100%;
  }
  
  #img-caption {
    margin-top: 10px;
    color: #595959;
    font-style: italic 
  }
  
  h2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 30px;
  }
  
  .time-line {
    list-style: none;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  li {
    display: flex;
  }
  
  .right-align {
    text-align: right;
    margin-right: 2rem;
    width: 30%;
  }
  
  .left-align {
    width: 50%;
    text-align: justify;
  }
  
  blockquote {
    color: #4f4f4f;
    max-width: 700px;
    margin: 50px auto;
  }
  
  .quote {
    font-style: italic;
  }
  
  a {
    color: grey;
    text-decoration: none;
  }
  
  a:visited {
    color: grey;
  }
  
  a:hover {
    color: blue;
  }
  
  a:active {
    color: blue;
  }
  
  #more-info  {
    text-align: center;
  }